.container{
	width: 25%;
	height:600px;
	border: 1px solid black;
	margin-left: 33%;
	margin-top: 100px;

	.slider{
		height: 100%;
		float:right;
	}
}

.noUi-vertical {
  .noUi-tooltip {
  	transform: translate(200%, -50%);
    top: 50%;
  }
}